/* resets & overrides
-----------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {border: none;}

/* links & lists
-----------------------------------------------*/
li {list-style: none;}
a {text-decoration: none;}

/* layout & styles
-----------------------------------------------*/
:root {
    --primary-one: hsl(185, 75%, 39%);
    --primary-two: hsl(229, 23%, 23%);
    --primary-three: hsl(227, 10%, 46%);
    --secondary: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
}
body {
    background: var(--primary-one);
    height: 100%;
    overflow: hidden;
}
.container {
    width: 1440px;
    margin:auto;
    position: relative;
}
h1, h2 {
    font-size: 18px;
    color: var(--primary-two);
}
p, span {
    color: var(--secondary);
}
/* profile card
-----------------------------------------------*/
.profile-card {
    margin: auto;
    margin-top: 200px;
    width: 370px;
    /* height: 450px; */
    box-shadow: 0 0 15px gray;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    position: relative;
}
.profile-header {
    height: 130px;
    width: 100%;
    background-image: url("../images/bg-pattern-card.svg");
}
.profile-info {
    margin-top: -35px;
}
.profile-image {
    border-radius: 50%;
    border: 4px solid white;
    position: relative;
    top: -50px;
}
.profile-name {
    display: inline;
    margin-right: 5px;
}
.profile-location {
    margin: 10px 0 30px 0;
}
.profile-social {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid lightgray;
    padding: 30px 0;
}
.social-numbers {
    padding-bottom: 7px;
}
.social-type {
    font-size: 12px;
}
.bg-image-top, .bg-image-bottom {
    position: absolute;
    overflow: hidden;
}
.bg-image-top {
    top: -786px;
    left: -236px;
}
.bg-image-bottom {
    bottom: -810px;
    right: -230px;
}